.nav__link{
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link:last-of-type{
    margin-right: auto;
}

@media screen and (max-width: 1024px) {
    .nav__link:last-of-type {
        margin: 0;
    }
}