.footer__logo {
    grid-area: logo;
    margin: 0;
    padding: 0;
    background-image: url(../../../images/footer/lubimovka.svg);
    background-size: 93px 81px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1184px) {
  .footer__logo {
    margin-left: 44px;
  }
}