.nav__link{
  text-decoration: none;
  color: #000;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav__link:hover{
  text-decoration: underline;
}

@media screen and (max-width: 1325px) {
  .nav .nav__link {
    font-size: 13px;
  }
}

@media screen and (max-width: 645px){
  .nav .nav__link {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.01em;
  }
}

