.comment__author {
    margin: 0;
    padding: 0;    
    font-family: 'NeueMachina';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
  }