.footer__copyright_type_politika {
  margin: 16px 0 0 33px;
  padding: 0;
  text-decoration: none;
}

@media screen and (max-width: 1184px) {
  .footer__copyright_type_politika {
    margin: 10px 0 0 14px;
    padding: 0;
  }
}