.slider__title {
  margin: 0;
  padding: 0;
  justify-self: start;
  font-family: 'NeueMachina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.0;
  letter-spacing: -0.01em;
  color: #242424;
}