.two-columns__actor {
    font-family: 'Formular';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    font-feature-settings: 'ss01' on;
    margin: 0 0 24px 28px;
    padding: 0;
    max-width: 420px;
}

@media screen and (max-width: 645px) {
    .two-columns__actor {
        margin-left: 30px;
    }
}