.book__author {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    padding: 0;
    text-align: left;
    margin: 17px 0 5px;
    width: 50%;
}

@media screen and (max-width: 645px) {
    .book__author {
        margin: 24px 0 8px;
        width: 100%;
    }
}