.two-columns__subtitle {
    max-width: 418px;
    padding: 0;
    margin-bottom: 210px;
    margin-left: 25%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

@media screen and (max-width: 1155px) {
    .two-columns__subtitle {
        margin-left: 15%;
    }
}

@media screen and (max-width: 1325px) {
    .two-columns__subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.1;
        max-width: 330px;
    }
}

@media screen and (max-width: 645px) {
    .two-columns__subtitle {
        max-width: 73%;
        font-weight: 400;
        line-height: 1.2;
        margin-left: 20%;
        margin-bottom: 31px;
    }
}