.video__play-btn {
    position: absolute;
    top: 47%;
    left: 45%;
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 0;
    width: 0;
}

.video__play-btn::after {
    content: "▶";
    height: 14px;
    padding: 20px 23px 20px 27px;
    width: 60px;
    text-align: center;
    font-size: 24px;
    color: black;
    background-color: white;
    border-radius: 100px
}

@media screen and (max-width: 645px) {
    .video__play-btn {
        left: 42%;
    }

    .video__play-btn::after {
        font-size: 18px;
        padding: 16px 20px 17px 23px;
    }
}