.footer__design_type_shishki {
  background-image: url(../../../../images/footer/shishki.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 17px;
  padding: 0 0 0 35px;
  max-width: 152px;
}
