.comment__text {
  margin: 0;
  padding: 0;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on;
}