.footer__general {
  grid-area: general;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

@media screen and (max-width: 360px) {
  .footer__general {
    flex-direction: column;
  }
}
