.book__title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    background: #B7C09D;
    width: calc(100% - 55px);
    margin: 0;
    padding: 24px 31px 143px 24px;
}

@media screen and (max-width: 645px) {
    .book__title {
        padding: 16px 39px 190px 16px;
    }
}