.wrapper {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  transition: transform .7s;
}

.wrapper_is-active {
  transform: translateY(73px);
}