.share-spectacles__wrapper {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 510px) {
    .share-spectacles__wrapper {
        padding: 0 25px;
    }
}