.slider__point {
  width: 6px;
  height: 6px;
  margin: 0 16px 0 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #242424;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
}

.slider__point:last-child {
  margin: 0;
}