.two-columns__projects-link {
    border-bottom: 1px solid #242424;
    border-right: 1px solid #242424;
    color: #000;
    position: relative;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 0.88;
    text-align: left;
    max-width: 120px;
    height: 32px;
    display: block;
    z-index: 1;
    transition: all .2s ease-in-out;
    padding: 9px 0 9px 10px;
    margin: 32px 0 0 30px;
    width: 115px;
}

.two-columns__projects-link::after {
    content: "←";
    position: absolute;
    top: 2px;
    right: -2px;
    font-size: 26px;
}

.two-columns__projects-link::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: black;
    width: 0%;
    height: 100%;
    transition: .3s ease-in-out;
    z-index: -1;
}

.two-columns__projects-link:hover {
    color: #ECEBE8;
}

.two-columns__projects-link:hover::before {
    width: 100%;
    animation: scale 0.5s ease-out;
    animation-delay: .2s;
}

@keyframes scale {
    0% {
        width: 100%;
        left: 0px;
        top: -0px;
        height: 100%;
    }

    50% {
        width: calc(100% + 10px);
        left: -5px;
        top: -3px;
        height: calc(100% + 6px);
    }

    100% {
        width: 100%;
        left: 0px;
        top: 0px;
        height: 100%;
    }
}

@media screen and (max-width: 645px) {
    .two-columns__projects-link {
        position: absolute;
        top: 30px;
        left: 86px;
        margin: 0;
        transform: translateY(-50%);
    }
}